<p>Edit user form</p>

<!-- FORM_FOR FORM -->
<%= form_for @user do |f| %>
  <p><%= f.label :username, 'Username:' %></p>
  <p><%= f.text_field :username %></p>
  <p><%= f.label :email, 'Email:' %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.label :password, 'Password:' %></p>
  <p><%= f.password_field :password %></p>
  <p><%= f.submit 'Join!' %></p>
<% end %>